.package{
     width:17em;
     overflow:hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     height:27.4em;
     box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    
}

.package img{
     width: 100%;
     height:15em;
     object-fit: cover;
    
}

.navbar .law-link{
    font-weight:bold;
}