.create_background{

     background-image: linear-gradient(to right,rgba(0,0,0,0.9),rgba(0,0,0,0.7)),url("../images/35360.jpg");
     background-size: cover;
     background-position: center;
  
}


.create-container{
     display:flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:5px;
     height: 350px;
     width:70%;
     backdrop-filter: blur(5px);
   
}

label{

      margin-top:10px;
}

input{

      width:100%;
}


select:hover, select:focus, input:hover, input:focus{

      border:1px solid transparent;
      outline: none !important;

}