.g-5{
    gap:15px;
}

.bg-search{
    width:18rem;
    padding:3px;
}

.active-link{
    font-weight: bold;
}

.navbar{
     position: fixed;
     width:100%;
     top:0;
     z-index: 2;
    /* background-color: #b6cfbd; */
}
.link-container li a{
    text-decoration: none;
    color:rgb(44, 43, 43);
}


.link-container li a:hover{
    color:rgb(0, 0, 0);
    font-weight: bold;
}

@media only screen and (max-width:768px){
   .link-container{
     display:none !important;
   }

}

@media only screen and (max-width:768px) {
    .login-container{
         display: none !important ;
    }
    
}

.search-button{
     float: right;
     position: relative;
     margin-left:-74px !important; 
     padding:5px;
     margin-top:1px;

}

@media screen and (max-width: 768px){

    .search-button{
        padding:3px;
        margin-left:-80px !important;
        margin-top:3px;
       
     }
}


.text-sm{

    font-size: 13px;
}

.input-search{
   
     width:16em;
     font-size:15px;
     padding:5px 2px;
    
}

@media screen and (max-width:768px){
    .input-search{
    
         width:18rem;
     }
}

 
