.search-package{
     width:310px;
     height:390px;
}

.search-package img{
     width:100%;
     height:220px;
     object-fit: cover;
}

body{
     font-family:poppins !important;
}
.text-sm{

     font-size:14px;
}