.row{
margin-top: 15px;

}

.sms-send{
    transition: width 0.4s linear, background-color 0.3s ease, color 0.3s ease;
}

.sms-send:hover{
    background-color: #222222;
    color: white;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
}
