
body{
      font-family:poppins;
}

a{
      cursor: pointer;
}

.active-button {
      background-color: #007bff; /* Example highlight color */
      color: white !important;
      font-weight: bold;
 }


.profile-container{
     position:fixed;
     top:0px;
     display: flex;
     justify-content:flex-end;
     align-items:center;
     gap:20px;
     box-shadow:0px 0px 3px rgba(0,0,0,0.5);
}


@media screen and (max-width:768px){

     .profile-container{
          position: relative;
          justify-content:center;
          gap:10px;
     }
}

.profile-container img{
     height:90px;
     width:90px;
     border-radius:50% !important;
     padding:5px;
  
}



ul{
     gap:30px;
     box-shadow:0px 0px 8px rgba(0,0,0,0.3);
     width:25%;
     position:fixed;
     margin-top:100px;
}

@media screen and (max-width:768px) {

    ul{
         width:100%;
         position: relative;
         margin-top:3px;

    }
}

li{
     width:100%;
     display: flex;
     justify-content: space-between;
     gap:15px;
     font-size:15px;
     padding:3px 8px;
}

.b-part{
    margin-left: 350px;
    margin-top:100px;
    width:75%;
}

@media screen and (max-width:768px) {

    .b-part{
         margin-left:0px;
         margin-top:8px;
         width:100%;
    }
    

}

table{
     border-collapse: collapse;
     width: 100%;
     padding:20px;
}

.text-sm{
    font-size:14px;
}

.canvas{
     width:80%;
     max-height:300px;
}


.popup, .popup-reminder {
       display: none;
       position: fixed;
      top: 50%;
      width: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      background-color: #ffffff;
      padding: 40px 20px;
      border-radius: 5px;

}

@media screen and (max-width: 768px) {
     .popup, .popup-reminder {
          
          width: 80%;
                
        }


}

.closeButton{
     float:right;
}


li a:hover{
     border: 1px solid white;
     padding:10px 10px; 
}